body {
    background: linear-gradient(180deg, rgba(159, 73, 226, 0.79) 10.42%, #DDBEF5 68.23%, #FFFFFF 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.name {
    color: white;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}

.stock-preview1,  .stock-preview2, .stock-preview3 {
    background-color: black;
    width: 25%;
    height: 200px;
    margin: 20px;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 15pt;
    text-decoration: none;
    margin-bottom: 100pt;
}

.stock-preview {
    display: flex;
    justify-content: center;
}

.previews-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.edit {
    text-decoration: none;  
}

.Previews-link {
    margin-right: 575pt;
    text-decoration: none;
}

.leaderBoard {
    background-color: white;
    border-radius: 25px;
    width: 70%;
    height: 200px;
    margin-left: 150pt;
    margin-top: 20pt;
}

.leader1, .leader2, .leader3 {
    display: flex;
    justify-content: space-evenly;
}

.rank, .person, .percent {
    text-decoration: none;
    font-size: 20pt;
    margin-bottom: 20pt;
    margin-top: 10pt;
}

#person3 {
    margin-right: 30px;
}

#rank3 {
    margin-right: 40px;
}

.leaderTxt {
    margin-left: 165pt;
    font-size: 15pt;
    text-decoration: none;
}

